{erl_opts, [debug_info]}.
{deps, [
    {reg, "0.1.0"}
]}.

{pre_hooks, [
    {"(linux)", compile, "make -C c_src/pcm"},
    {"(linux)", compile, "make -C c_src/mixer"}
]}.
{post_hooks, [
    {"(linux)", clean, "make -C c_src/pcm clean"},
    {"(linux)", clean, "make -C c_src/mixer clean"}
]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [alsa]}
]}.